<%= form_with(model: post, class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 font-medium rounded-md">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul class="list-disc ml-6">
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :Titulo %>
    <%= form.text_field :caption, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": post.errors[:caption].none?, "border-red-400 focus:outline-red-600": post.errors[:caption].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :body %>
    <%= form.rich_text_area :body, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": post.errors[:body].none?, "border-red-400 focus:outline-red-600": post.errors[:body].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :Imagenes %>
    <%= form.file_field :images, multiple: true, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full cursor-pointer", {"border-gray-400 focus:outline-blue-600": post.errors[:images].none?, "border-red-400 focus:outline-red-600": post.errors[:images].any?}] %>
  </div>


  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md p-2 inline-block font-semibold text-white bg-gradient-to-r from-yellow-400 to-red-600 hover:scale-105 cursor-pointer" %>
  </div>
<% end %>
