<div id="<%= dom_id post %>" class="flex flex-col items-center justify-center sm:w-auto my-4 space-y-5 mx-auto ">
  <div>
    <strong class=" font-medium mb-2">Titulo:</strong>
    <%= post.caption %>
  </div>

  <div>
    <strong class=" font-medium mb-10">Body:</strong>
    <%= post.body %>
  </div>

  <div>
    <strong class=" font-medium mb-2">Imágenes</strong>
    <% post.images.each do |image| %>
      <div><%= link_to image.filename, image, class: "text-gray-700 underline hover:no-underline" %></div>
    <% end %>
  </div>

  <div>
    <strong class=" font-medium mb-1">Username:</strong>
    <%= post.user.username %>
  </div>
</div>
